<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       >
	
	
	<bean id="springApplicationContext" class="com.myprojects.logdisplay.util.SpringApplicationContext"/>
	
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.google.appengine.api.rdbms.AppEngineDriver" />
<!--         <property name="url" value="jdbc:google:rdbms://localhost:3306/dcnseva" /> -->
        <property name="url" value="jdbc:google:rdbms://naranyanseva:naranyanseva/dcnseva" />
        <property name="username" value="root" />
        <property name="password" value="" />
   </bean>
   	

<!--    <bean id="logFileService" class="com.myprojects.logdisplay.util.DefaultLogService"/> -->
   
<!-- 	<bean name="/logFileService" class="org.springframework.remoting.caucho.HessianServiceExporter"> -->
<!--       <property name="service" ref="logFileService"/> -->
<!--       <property name="serviceInterface" value="com.myprojects.logdisplay.util.LogFileService"/> -->
<!--     </bean>    -->
   
</beans>