<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!-- Enables Wicket to handle all requests. -->
    <filter>
        <filter-name>wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.gae.yotube.WicketApplication</param-value>
        </init-param>
        <init-param>
            <param-name>ignorePaths</param-name>
            <param-value>/_ah/*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>configuration</param-name>
        <param-value>deployment</param-value>
    </context-param>

	<servlet>
		<servlet-name>Utube_video_search</servlet-name>
		<servlet-class>com.gae.yotube.Utube_video_searchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Utube_video_search</servlet-name>
		<url-pattern>/utube_video_search</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>GAEJCronServlet</servlet-name>
		<servlet-class>com.gae.yotube.GAEJCronServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>GAEJCronServlet</servlet-name>
		<url-pattern>/cron/gaejcronjob</url-pattern>
	</servlet-mapping>	
	

	<servlet>
		<servlet-name>readTnServlet</servlet-name>
		<servlet-class>com.gae.yotube.ReadTeluguNagarServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>readTnServlet</servlet-name>
		<url-pattern>/read/readTnServlet</url-pattern>
	</servlet-mapping>	
	


	<servlet>
		<servlet-name>PingCronServlet</servlet-name>
		<servlet-class>com.gae.yotube.PingCronServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>PingCronServlet</servlet-name>
		<url-pattern>/cron/pingcronjob</url-pattern>
	</servlet-mapping>	
	
	<servlet>
	<servlet-name>GAEJCreateTaskServlet</servlet-name>
	<servlet-class>com.gae.yotube.GAEJCreateTaskServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>GAEJSignupSubscriberServlet</servlet-name>
	<servlet-class>com.gae.yotube.GAEJSignupSubscriberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>GAEJSignupSubscriberServlet</servlet-name>
	<url-pattern>/gaejsignupsubscriber</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>GAEJCreateTaskServlet</servlet-name>
	<url-pattern>/gaejcreatetask</url-pattern>
	</servlet-mapping>	

	
	
</web-app>
